<h1 class="text-green-600">Nouveau contact du site internet :</h1>
<p>{{ createdAt | date('d F Y') | format_date(locale='fr') }} à {{ createdAt | date('H:i') }}</p>
<br/><br/>
<p><span>Type de client :</span>  {{ contactType }}</p>
<p><span>Délais d'intervention :</span>  {{ interventionDeadline }}</p>
<p><span>Nom/Prénom :</span>  {{ firstName }} {{ lastName }}</p>
<p><span>Email :</span>  {{ emailContact }}</p>
<p><span>Téléphone :</span>  {{ phoneNumber }}</p>
<p><span>Ville d'intervention :</span>  {{ city }}, {{ zipCode }}</p>
<p><span>Message :</span> {{ message }}</p>
<br/><br/><br/>
<small class="text-gray-400">Cet email provient du site internet.</small>