<header class="bg-white fixed w-full z-50 top-0" data-controller="hello">
    <nav class="mx-auto flex max-w-7xl items-center justify-between py-6 px-4 lg:px-8" aria-label="Global">
        <div class="flex items-center gap-x-10">
            <div class="flex lg:flex-1">
                <a href="{{ path('app_home') }}" class="-m-1.5 p-1.5" aria-label="ESP Débarras et Nettoyage Rhône-Alpes - Accueil">
                    <span class="sr-only">ESP Débarras et Nettoyage Rhône-Alpes</span>
                    <img class="h-6 sm:h-7 w-auto" src="{{ asset('medias/logo/esp-debarras-nettoyage-rhone-alpes-logo-header.svg') }}" alt="Logo ESP Débarras et Nettoyage Rhône-Alpes" width="120" height="28">
                </a>
            </div>
            <div class="hidden lg:flex lg:gap-x-8">
                <a href="{{ path('app_home') }}" class="text-sm font-medium text-gray-900"{% if app.request.attributes.get('_route') == 'app_home' %} aria-current="page"{% endif %}>Nos prestations</a>
                <a href="{{ path('app_service_intervention') }}" class="text-sm font-medium text-gray-900"{% if app.request.attributes.get('_route') == 'app_service_intervention' %} aria-current="page"{% endif %}>Nos interventions</a>
                <a href="{{ path('app_blog') }}" class="text-sm font-medium text-gray-900"{% if app.request.attributes.get('_route') starts with 'app_blog' %} aria-current="page"{% endif %}>Blog</a>
            </div>
        </div>
        <div class="flex lg:hidden items-center gap-x-5.5">
            <a href="tel:0641288848" class="text-base font-semibold text-gray-900 rounded-md flex items-center gap-x-3" id="header-phone">
                    <span class="relative flex size-3">
                      <span class="absolute inline-flex h-full w-full animate-ping rounded-full bg-green-400 opacity-75"></span>
                      <span class="relative inline-flex size-3 rounded-full bg-green-500"></span>
                    </span>
                06 41 28 88 48
            </a>
            <button type="button" data-action="hello#toggleMenu" data-hello-target="openButton"
                    class="-m-2.5 inline-flex items-center justify-center p-2.5 text-gray-700 hover:bg-gray-50 transition duration-100 rounded-full">
                <span class="sr-only">Open main menu</span>
                <svg class="size-7" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                </svg>
            </button>
        </div>
        <div class="hidden lg:flex lg:flex-1 lg:justify-end">
            <div class="flex justify-center items-center gap-x-2">
                <a href="tel:0641288848" class="text-base font-semibold text-gray-900 px-4 py-3 rounded-md flex items-center gap-x-3">
                    <span class="relative flex size-3">
                      <span class="absolute inline-flex h-full w-full animate-ping rounded-full bg-green-400 opacity-75"></span>
                      <span class="relative inline-flex size-3 rounded-full bg-green-500"></span>
                    </span>
                    06 41 28 88 48
                </a>
                <a href="{{ path('app_contact') }}" class="text-sm font-semibold text-white bg-gray-900 px-4 py-3 rounded-full border border-gray-900 hover:bg-white hover:text-gray-900 transition duration-100">Contactez-nous 7j/7</a>
            </div>
        </div>
    </nav>
    <div data-hello-target="menu" class="lg:hidden hidden fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-white px-4 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
        <div class="flex items-center justify-between">
            <a href="{{ path('app_home') }}" class="-m-1.5 p-1.5" aria-label="ESP Débarras et Nettoyage Rhône-Alpes - Accueil">
                <span class="sr-only">ESP Débarras et Nettoyage Rhône-Alpes</span>
                <img class="h-6 sm:h-7 w-auto" src="{{ asset('medias/logo/esp-debarras-nettoyage-rhone-alpes-logo-header.svg') }}" alt="Logo ESP Débarras et Nettoyage Rhône-Alpes" width="120" height="28">
            </a>
            <!-- Bouton pour fermer le menu -->
            <button type="button" data-action="hello#closeMenu" data-hello-target="closeButton"
                    class="-m-2.5 p-2.5 text-gray-700 hover:bg-gray-50 transition duration-100 rounded-full">
                <span class="sr-only">Close menu</span>
                <svg class="size-7" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
            </button>
        </div>
        <div class="mt-6 flow-root">
            <div class="-my-6 divide-y divide-gray-500/10">
                <div class="space-y-2 py-6">
                    <a href="{{ path('app_home') }}" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50"{% if app.request.attributes.get('_route') == 'app_home' %} aria-current="page"{% endif %}>Nos prestations</a>
                    <a href="{{ path('app_service_intervention') }}" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50"{% if app.request.attributes.get('_route') == 'app_service_intervention' %} aria-current="page"{% endif %}>Nos interventions</a>
                    <a href="{{ path('app_blog') }}" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50"{% if app.request.attributes.get('_route') starts with 'app_blog' %} aria-current="page"{% endif %}>Blog</a>
                </div>
                <div class="py-6">
                    <a href="{{ path('app_contact') }}" class="block text-base rounded-full px-3 py-2.5 font-semibold text-white transition duration-100 text-center bg-gray-900 hover:bg-white border-gray-900 border hover:text-gray-900">Contactez-nous</a>
                    <div class="bg-gray-50 mt-8 px-3 py-8 rounded-md shadow-md border border-gray-100">
                        <div>
                            <p class="text-sm font-semibold text-center text-gray-700">Nous intervenons 7j/7, devis sous 24h :</p>
                        </div>
                        <a href="tel:+33641288848" class="mt-1 text-lg mx-2 justify-center font-semibold px-3 py-2.5 text-gray-900 flex items-center gap-x-3">
                            {{ ux_icon('twemoji:flag-for-flag-france', {class: 'size-5'}) }}
                            +33 6 41 28 88 48
                        </a>
                        <a href="tel:+41763044227" class="text-lg mx-2 justify-center font-semibold px-3 py-2.5 text-gray-900 flex items-center gap-x-3">
                            {{ ux_icon('twemoji:flag-for-flag-switzerland', {class: 'size-6'}) }}
                            +41 76 304 42 27
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
