{% extends 'base.html.twig' %}

{% block robots %}index, follow{% endblock %}
{% block title %}{{ post.title }}{% endblock %}
{% block description %}{{ post.summary }}{% endblock %}
{% block url %}/blog/{{ post.slug }}{% endblock %}

{% block ogTitle %}ESP - {{ post.title }}{% endblock %}
{% block ogUrl %}https://esp-rhone-alpes.fr/blog/{{ post.slug }}{% endblock %}
{% block ogImage %}{{ asset('medias/site/banniere.webp') }}{% endblock %}
{% block ogImageAlt %}ESP Débarras et Nettoyage{% endblock %}
{% block ogDescription %}{{ post.summary }}{% endblock %}

{% block body %}
    <section class="bg-white py-16 sm:py-24">
        <div class="mx-auto max-w-2xl lg:max-w-7xl px-6 lg:px-8">
            <div class="mx-auto lg:mx-0 grid grid-cols-1 lg:grid-cols-3 md:gap-x-12">
                <div class="md:col-span-2">
                    <img src="{{ asset('medias/blog/'~post.mainPhoto) }}" alt="{{ post.altMainPhoto }}" class="object-cover w-full aspect-video rounded-3xl mb-6"/>
                    <p class="text-xs font-semibold leading-7 text-primary tracking-wide">Publié le  <time datetime="{{ post.createdAt | date('d F Y') }}">{{ post.createdAt | date('d F Y') | format_date(locale='fr') }}</time></p>
                    <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-5xl text-pretty cap">{{ post.title }}</h1>
                    <div class="flex items-center gap-3 mt-7">
                        <img src="{{ asset('medias/site/esp.webp') }}"  alt="ESP Logo blog rédacteur" class="size-8 rounded-full bg-gray-100 border-2 border-primary">
                        <p class="text-gray-900 font-semibold text-sm">Rédigé par l'équipe d'ESP</p>
                    </div>
                    <div class="text-base mt-12 text-gray-900 cap" id="blog-format">
                        {{ post.content | raw }}
                    </div>
                    <div class="mt-10 flex gap-2 items-center border-t border-gray-100 pt-5">
                        <p class="text-gray-900">Catégorie :</p>
                        <p class="bg-gray-50 inline-block rounded-full text-gray-800 text-sm px-4 py-1.5 border border-gray-100 cap">{{ post.category.name }}</p>
                    </div>
                </div>
                <aside class="mt-10 lg:mt-0">
                    <div class="bg-gray-50 border border-gray-100 p-8 lg:sticky lg:top-32 rounded-2xl">
                        <h4 class="font-semibold text-lg text-center font-primary">Vous avez un besoin ?</h4>
                        <p class="text-center mt-2">Nous vous rappelons sous 2 heures pour répondre à vos questions.</p>
                        <div class="mx-auto w-full mt-5">
                            <a href="{{ path('app_contact') }}" class="text-center block text-sm font-semibold leading-6 text-white bg-primary px-4 py-2.5 rounded-full transition duration-100 hover:bg-white hover:text-primary border border-primary">Contactez-nous</a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </section>
{% endblock %}
